NODENAME=rabbitmq@{{ rabbitmq_env_host }}
{% if rabbitmq_use_long_name is defined %}
USE_LONGNAME={{ rabbitmq_use_long_name|bool|string|lower }}
{% else %}
if [ "${NODENAME%%.*}" != "${NODENAME}" ]; then
    USE_LONGNAME=true
else
    USE_LONGNAME=false
fi
{% endif %}
RABBITMQ_NODE_PORT={{ rabbitmq_port|default(5672) }}

{% if rabbitmq_use_ssl|default(False)|bool %}

ERL_SSL_PATH=$(erl -eval 'io:format("~p", [code:lib_dir(ssl, ebin)]),halt().' -noshell)

SSL_ADDITIONAL_ERL_ARGS="-pa '$ERL_SSL_PATH' -proto_dist {%if ipv6_deployment|default(false)|bool %}inet6_tls{%else%}inet_tls{%endif%} -ssl_dist_opt server_certfile /etc/rabbitmq/rmq-ssl.pem -ssl_dist_opt server_secure_renegotiate true client_secure_renegotiate true"

SERVER_ADDITIONAL_ERL_ARGS="$SERVER_ADDITIONAL_ERL_ARGS $SSL_ADDITIONAL_ERL_ARGS"
CTL_ERL_ARGS="$SSL_ADDITIONAL_ERL_ARGS"

{% else %}

{% if ipv6_deployment|default(false)|bool %}
SERVER_ADDITIONAL_ERL_ARGS="-proto_dist inet6_tcp"
{% endif %}

{% endif %}
