[unix_http_server]
chown = awx:awx

[supervisord]
umask = 022
minfds = 4096

[program:awx-dispatcher]
command = awx-manage run_dispatcher
directory = {{ supervisor_awx_home }}
environment = HOME="{{ awx_install_home }}",USER="{{ aw_user }}"
user = {{ aw_user }}
autostart = true
autorestart = true
stopwaitsecs = 5
redirect_stderr=true
stdout_logfile = /var/log/supervisor/awx-dispatcher.log
stdout_logfile_maxbytes = 10MB
stdout_logfile_backups = 10

[program:awx-callback-receiver]
command = /usr/bin/awx-manage run_callback_receiver
directory = {{ supervisor_awx_home }}
user = {{ aw_user }}
autostart = true
autorestart = true
stopwaitsecs = 5
redirect_stderr=true
stdout_logfile = /var/log/supervisor/awx-callback-receiver.log
stdout_logfile_maxbytes = 10MB
stdout_logfile_backups = 10

[program:awx-channels-worker]
command = /usr/bin/awx-manage runworker --only-channels websocket.*
directory = {{ supervisor_awx_home }}
user = {{ aw_user }}
autostart = true
autorestart = true
stopwaitsecs = 5
redirect_stderr = true
stdout_logfile = /var/log/supervisor/awx-channels-worker.log
stdout_logfile_maxbytes = 10MB
stdout_logfile_backups = 10

[program:awx-uwsgi]
command = {{ uwsgi_bash}} '{{ supervisor_awx_home }}/venv/awx/bin/uwsgi -s /var/run/tower/uwsgi.sock --module=awx.wsgi:application --vacuum --processes=5 --harakiri=120 --no-orphans --master --max-requests=1000 --lazy-apps -b 32768 --stats /var/lib/awx/uwsgi.stats --chmod-socket=660'
directory = {{ supervisor_awx_home }}
user = {{ aw_user }}
{% if ansible_distribution_major_version == '7' %}
environment = LD_LIBRARY_PATH="/opt/rh/rh-postgresql10/root/usr/lib64"
{% endif %}
autostart = true
autorestart = true
stopwaitsecs = 15
stopsignal = INT
stopasgroup = true
redirect_stderr = true
stdout_logfile = /var/log/supervisor/awx-uwsgi.log
stdout_logfile_maxbytes = 10MB
stdout_logfile_backups = 10

[program:awx-daphne]
command = {{ supervisor_awx_home }}/venv/awx/bin/daphne -u /var/run/tower/daphne.sock awx.asgi:channel_layer
directory = {{ supervisor_awx_home }}
user = {{ aw_user }}
autostart = true
autorestart = true
stopwaitsecs = 5
redirect_stderr = true
stdout_logfile = /var/log/supervisor/awx-daphne.log
stdout_logfile_maxbytes = 10MB
stdout_logfile_backups = 10

[group:tower-processes]
programs=awx-dispatcher,awx-callback-receiver,awx-channels-worker,awx-uwsgi,awx-daphne
priority=5

[eventlistener:exit-event-listener]
command=/usr/bin/failure-event-handler
stderr_logfile = /var/log/supervisor/failure-event-handler.stderr.log
stderr_logfile_maxbytes = 10MB
stderr_logfile_backups = 10
buffer_size = 50
events=PROCESS_STATE
priority=0

# NOTE: This is useful if the socket service encounters a problem
#       where it consumes too much memory.  You will need to install
#       superlance:   pip install superlance
# [eventlistener:memmon]
# command=memmon -p awx-socketio-service=200MB
# events=TICK_60
